html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    font-style: normal;
    letter-spacing: normal;
    // font-family: "TTFirsNeue";
    font-family: "TT Firs Neue";
    color: $black;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    background-color: $white;

    &._noscroll {
        overflow: hidden;
    }
}

.wrapper {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
    overflow-x: clip;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    position: relative;
    flex: 1 1 auto;
}

._container {
    width: 100%;
    margin-inline: auto;
    max-width: $container + px;

    @media (max-width: $containerWithPadding + px) {
        max-width: none;
        padding-inline: $padding + px;
    }
}

img,
svg,
picture,
figure {
    width: 100%;
    max-width: 100%;
    height: auto;
}

[data-tab-content] {
    &:not(._active) {
        display: none;
    }
}

strong,
b {}
