html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    font-style: normal;
    letter-spacing: normal;
    font-family: "Inter";
    color: $black;
    line-height: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.6px;
    background-color: $white;

    @media (max-width:1024px) {
        font-size: 16px;
        letter-spacing: -0.8px;
    }

    &._noscroll {
        overflow: hidden;
    }
}

.wrapper {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
    overflow-x: clip;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    position: relative;
    flex: 1 1 auto;
}

._container {
    width: 100%;
    margin-inline: auto;
    max-width: $container + px;

    @media (max-width: $containerWithPadding + px) {
        max-width: none;
        padding-inline: $padding + px;
    }

    @media (max-width:1440px) {
        padding-inline: 20px;
    }

    @media (max-width:768px) {
        padding-inline: 10px;
    }
}

h1,
h2,
h3 {
    span {
        color: rgba($color: $black, $alpha: 0.4);
    }
}

h1 {
    @include adaptive-value('font-size', 80, 28, 1);
    @include adaptive-value('letter-spacing', -8, -2, 1);
    font-weight: 400;
    line-height: 100%;
}

._title-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 200px;
    border: 1px solid #D1D1D1;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 10px 20px;
    padding-bottom: 9px;
    color: $accent;

    @media (max-width:768px) {
        padding: 10px 15px;
        padding-bottom: 9px;
        font-size: 12px;
        letter-spacing: -0.4px;
    }
}

h2 {
    @include adaptive-value('font-size', 48, 24, 1);
    @include adaptive-value('letter-spacing', -3, -1.7, 1);
    font-weight: 400;
    line-height: 110%;
}

h3 {
    @include adaptive-value('font-size', 24, 18, 1);
    line-height: 120%;
    letter-spacing: -1.3px;

    @media (max-width:1024px) {
        letter-spacing: -1px;
    }
}

.subtitle {
    color: $grey;
    line-height: 130%;
}

._big-text {
    @include adaptive-value('font-size', 70, 22, 1);
    @include adaptive-value('letter-spacing', -6, -1.7, 1);
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

img,
svg,
picture,
figure {
    width: 100%;
    max-width: 100%;
    height: auto;
}

[data-tab-content] {
    &:not(._active) {
        display: none;
    }
}

strong,
b {}

._btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 4px;
    height: 60px;
    padding-inline: 30px;
    white-space: nowrap;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;

    @media (max-width:1024px) {
        height: 50px;
        font-size: 14px;
        padding-inline: 20px;
    }

    // ._btn-blackstroke
    &-blackstroke {
        color: $black;
        border: 1px solid rgba($color: $black, $alpha: 0.2);

        @media (any-hover: hover) {
            &:hover {
                border-color: $black;
            }
        }
    }

    // ._btn-accent
    &-accent {
        background-color: $accent;
        color: $white;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

._social-buttons {
    a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $softblue;
        transition: all 0.3s ease 0s;

        img,
        svg,
        picture {
            width: 20px;
            height: 20px;
            fill: $black;
            transition: all 0.3s ease 0s;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: $accent;

                img,
                svg,
                picture {
                    fill: $white;
                }
            }
        }
    }
}

._desktop {
    @media (max-width:1024px) {
        display: none;
    }
}

._mobile {
    @media (min-width:1025px) {
        display: none;
    }
}

.to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #EAEAEA;

    @media (any-hover: hover) {
        &:hover {

            img,
            svg,
            picture {
                transform: scale(1.2);
            }
        }
    }

    img,
    svg,
    picture {
        width: 16px;
        height: 16px;
        pointer-events: none;
        transition: all 0.3s ease 0s;
    }

    position: fixed;
    z-index: 10;
    right: 40px;
    bottom: 140px;
    opacity: 0;
    transform: translate(40px, 0) rotate(45deg);
    pointer-events: none;

    @media (max-width:1440px) {
        right: 20px;
        bottom: 20px;
    }

    &._active {
        opacity: 1;
        transform: translate(0, 0) rotate(0deg);
        pointer-events: all;
    }

    @media (max-width:1024px) {
        right: 10px;
        bottom: 10px;
    }
}

._fullscreen-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.text-box {
    .section__body {
        @media (min-width:1025px) {
            max-width: 960px;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-transform: unset;
        margin-bottom: 1em;
    }

    ol,
    ul {
        margin: 20px 0;
        padding-left: 1.5em;

        & > :not(:last-child) {
            margin-bottom: 1em;
        }
    }

    ul {
        li {
            position: relative;
            list-style: disc;
        }
    }

    ol {
        li {
            list-style: decimal;
        }
    }

    p {
        margin-bottom: 1em;
        width: 100%;
    }

    a {
        text-decoration: underline;
        transition: opacity 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    img,
    picture,
    figure {
        width: auto;
        margin-bottom: 1em;
        border-radius: 4px;
    }

    figure {

        img,
        picture {
            margin-bottom: 0;
        }
    }

    figcaption {
        font-size: 15px;
        line-height: 145%;
        display: block;
        margin-top: 12px;

        @media (max-width:768px) {
            font-size: 14px;
        }
    }
}