.form {
    display: flex;
    flex-direction: column;

    // .form__item
    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &._error {

            input,
            textarea {
                color: red;

                &::placeholder {
                    color: red;
                }
            }
        }
    }

    input,
    textarea {
        padding: 20px;
        transition: all 0.3s ease 0s;
        width: 100%;
        background-color: $softblue;
        border: 1px solid rgba($color: $black, $alpha: 0);
        border-radius: 4px;

        @media (any-hover: hover) {
            &:hover {
                border-color: $black;
            }
        }
    }

    input {
        height: 60px;
    }

    textarea {
        height: 120px;
        resize: none;
    }

    p {
        margin-top: 20px;
        color: $grey;

        a {
            text-decoration: underline;
            transition: color 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: $black;
                }
            }
        }
    }

    button {
        margin-top: 40px;
        width: 100%;

        @media (max-width:1024px) {
            margin-top: 30px;
        }
    }

    .wpcf7-response-output {
        display: none !important;
    }
}