.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba($color: $white, $alpha: 0.5);
    backdrop-filter: blur(30px);

    // .header__container
    &__container {}

    // .header__body
    &__body {
        align-items: center;
        gap: 40px;
        padding-top: 20px;
        padding-bottom: 20px;

        @media (max-width:1024px) {
            display: flex !important;
            gap: 20px !important;
        }

        @media (max-width:768px) {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    nav {
        @media (max-width:1024px) {
            display: none;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 40px;

            @media (max-width:1440px) {
                gap: 20px;
            }

            a {
                white-space: nowrap;
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
                transition: all 0.3s ease 0s;

                @media (any-hover: hover) {
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    // .header__logo
    &__logo {
        font-size: 24px;

        @media (max-width:1024px) {
            font-size: 18px;
        }
    }

    // .header__burger
    &__burger {
        @media (min-width:1025px) {
            display: none !important;
        }

        border-radius: 4px;
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3px;
        border: 1px solid rgba($color: $black, $alpha: 0.2);
        position: relative;
        padding-inline: 11px;

        span {
            background-color: $black;
            width: 16px;
            height: 2px;
            pointer-events: none;
        }

        & > :first-child {}

        & > :nth-child(2) {}

        & > :last-child {
            width: 10px;
        }
    }

    ._btn {
        margin-left: auto;
        height: 50px;
        font-weight: 400;

        @media (max-width:1024px) {
            height: fit-content;
            border-radius: 0;
            padding: 0;
            border: unset;
            font-size: 16px;
        }
    }
}