.menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: $white;
    backdrop-filter: blur(60px);
    overflow-y: auto;
    transition: all 0.3s ease 0s;
    opacity: 0;
    pointer-events: none;
    padding: 10px;
    padding-bottom: 40px;

    &._open {
        @media (max-width:1024px) {
            opacity: 1;
            pointer-events: all;
        }
    }

    // .menu__body
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 80px;
    }

    // .menu__close
    &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        width: 40px;
        height: 40px;
        border: 1px solid rgba($color: $black, $alpha: 0.2);
        margin-left: auto;
        margin-bottom: 20px;

        img,
        svg,
        picture {
            pointer-events: none;
            width: 16px;
            height: 16px;
        }
    }

    nav {
        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;

            li {
                width: 100%;

                a {
                    display: block;
                    width: 100%;
                    padding-bottom: 15px;
                    border-bottom: 1px solid rgba($color: $black, $alpha: 0.2);
                    color: $black;
                }
            }
        }
    }

    ._btn {
        width: 100%;
    }

    // .menu__contacts
    &__contacts {
        color: $black;
        display: flex;
        flex-direction: column;
        gap: 20px;

        // .menu__contacts-social
        &-social {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba($color: $black, $alpha: 0.2);
        }
    }
}