.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 16;
    background-color: rgba($color: $black, $alpha: 0.3);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease 0s;

    &._open {
        pointer-events: all;
        opacity: 1;

        .popup__body {
            transform: translate(0, 0);
        }
    }

    &#thanks {}

    &#error {
        h2 {
            color: red;
        }
    }

    // .popup__container
    &__container {
        max-width: 740px;
    }

    // .popup__body
    &__body {
        transform: translate(100px, 0);
        transition: all 0.3s ease 0s;
        background-color: #fff;
        @include adaptive-value("padding-inline", 50, 16, 1);
        @include adaptive-value("padding-top", 100, 50, 1);
        @include adaptive-value("padding-bottom", 100, 50, 1);
        position: relative;
        border-radius: 6px;
    }

    // .popup__close
    &__close {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 15px;
        top: 15px;

        @media (max-width:768px) {
            width: 25px;
            height: 25px;
            right: 10px;
            top: 10px;
        }

        @media (any-hover: hover) {}

        span {
            width: 100%;
            height: 2px;
            background: currentColor;
            left: 50%;
            top: 50%;
            display: block;
            position: absolute;
            pointer-events: none;

            &:first-child {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:last-child {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    // .popup__content
    &__content {
        text-align: center;

        h2 {
            @include adaptive-value('font-size', 32, 22, 1);
            margin-bottom: 0.5em;
            letter-spacing: normal;
        }

        p {
            letter-spacing: normal;
        }
    }
}