.volume-card {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 4px;
    padding: 40px;
    box-shadow: 0 4px 15px 0 rgba(146, 146, 146, 0.20);

    @media (any-hover: hover) {
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

    @media (max-width:1024px) {
        padding: 20px;
    }

    // .volume-card__top
    &__top {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
            font-size: 16px;
            color: $grey;

            @media (max-width:1024px) {
                font-size: 14px;
            }
        }

        p {
            display: flex;
            align-items: flex-end;
            gap: 4px;
            @include adaptive-value('font-size', 48, 26, 1);
            @include adaptive-value('letter-spacing', -3, -1.7, 1);
            line-height: 100%;

            label {
                line-height: normal;
                padding-bottom: 4px;
                font-size: 18px;
                letter-spacing: -0.6px;

                @media (max-width:1024px) {
                    font-size: 16px;
                    letter-spacing: -0.8px;
                }
            }
        }
    }

    img,
    picture {
        transition: all 0.5s ease 0s;
        pointer-events: none;
        width: 100%;
        @include adaptive-value('height', 400, 244, 1);
        object-fit: contain;
    }

    // .volume-card__bottom
    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            font-size: 16px;
            color: $grey;
            letter-spacing: -0.6px;

            @media (max-width:1024px) {
                font-size: 14px;
                letter-spacing: -0.8px;
            }
        }
    }

    // .volume-card__characteristics
    &__characteristics {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        label {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 15px;
            border-radius: 10px;
            background-color: $softblue;
            text-align: center;

            @media (max-width:1024px) {
                border-radius: 4px;
            }
        }
    }
}