.volume-card {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 15px 0 rgba(146, 146, 146, 0.20);
    border: 1px solid rgba($color: $black, $alpha: 0);

    @media (any-hover: hover) {
        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }

    @media (max-width:1240px) {
        padding: 20px;
    }

    @media (max-width:1024px) {
        border-radius: 10px;
    }

    // .volume-card__top
    &__top {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
            font-size: 18px;
            color: $grey;

            @media (max-width:1024px) {
                font-size: 16px;
            }
        }

        p {
            display: flex;
            align-items: flex-end;
            gap: 4px;
            @include adaptive-value('font-size', 54, 36, 1);
            line-height: 100%;

            label {
                line-height: normal;
                @include adaptive-value('padding-bottom', 10, 2, 1);
                @include adaptive-value('font-size', 18, 16, 1);
            }
        }
    }

    img,
    picture {
        transition: all 0.5s ease 0s;
        pointer-events: none;
        width: 100%;
        @include adaptive-value('height', 500, 200, 1);
        object-fit: contain;
    }

    // .volume-card__bottom
    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
            font-size: 18px;
            color: $grey;

            @media (max-width:1024px) {
                font-size: 16px;
            }
        }
    }

    // .volume-card__characteristics
    &__characteristics {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        label {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 15px;
            border-radius: 10px;
            background-color: $softblue;
            text-align: center;

            @media (max-width:1024px) {
                border-radius: 4px;
            }
        }
    }
}