.hero {
    position: relative;
    background: #FCFCFD;

    @media (max-width:1024px) {
        background: linear-gradient(180deg, #FFF 0%, #FCFBFE 100%);
    }

    // .hero__container
    &__container {}

    // .hero__body
    &__body {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding-bottom: 40px;

        @media (min-width:1025px) {
            min-height: 800px;
            justify-content: space-between;
        }

        @media (max-width:1024px) {
            padding-bottom: 20px;
        }

        @media (max-width:768px) {
            margin-top: 30px;
        }

        h1 {
            margin-bottom: 30px;
            max-width: 1200px;
            width: 100%;

            @media (max-width:1024px) {
                margin-bottom: 20px;
            }
        }

        .subtitle {
            margin-bottom: 60px;
            max-width: 390px;
            width: 100%;

            @media (max-width:1024px) {
                margin-bottom: 40px;
            }
        }

        ._btn {
            @media (max-width:425px) {
                width: 100%;
            }
        }

        ol {
            display: flex;
            gap: 80px;
            position: relative;
            z-index: 1;

            @media (max-width:425px) {
                width: 100%;
                gap: 0;
                justify-content: space-between;
            }

            li {
                display: flex;
                flex-direction: column;
                width: fit-content;
                gap: 30px;
                padding-left: 30px;
                border-left: 4px solid $accent;
                font-size: 16px;
                padding-top: 4;

                @media (max-width:1024px) {
                    padding-left: 15px;
                }

                @media (max-width:768px) {
                    padding-left: 10px;
                }

                span {
                    color: $grey;

                    @media (max-width:768px) {
                        font-size: 14px;
                    }
                }

                div {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    @media (max-width:1024px) {
                        gap: 5px;
                    }

                    p {
                        display: flex;
                        align-items: flex-end;
                        gap: 4px;
                        line-height: 100%;
                        @include adaptive-value('font-size', 32, 28, 1);
                        line-height: 100%;
                        letter-spacing: -2px;
                    }

                    label {
                        font-size: 18px;
                        letter-spacing: -0.6px;
                        padding-bottom: 2px;
                        line-height: normal;

                        @media (max-width:1024px) {
                            font-size: 16px;
                            letter-spacing: -0.8px;
                        }
                    }
                }
            }
        }

        img {
            @include adaptive-value('height', 600, 300, 1);
            width: 100vw;
            margin-left: -20px;
            max-width: unset;
            object-position: right;
            object-fit: cover;

            @media (max-width:1024px) {
                @include adaptive-value('margin-top', -150, 0, 1);
            }

            @media (max-width:768px) {
                margin-left: -10px;
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
    }

    // .hero__content
    &__content {
        position: relative;
        z-index: 1;
    }

    ._fullscreen-img {
        object-fit: cover;
        object-position: right bottom;
        top: unset;
        bottom: 0;
        height: calc(100% + 90px + 40px + 40px);
        max-height: 933px;

        @media (max-width:1440px) {
            height: 100%;
            top: unset;
            bottom: 0;
        }
    }
}

body:has(.hero-404) .footer {
    margin-top: 0 !important;
}

.hero-404 {
    height: 70vh;

    ._btn {
        margin-top: 60px;

        @media (max-width:1024px) {
            margin-top: 30px;
            width: fit-content;
        }
    }

    ._fullscreen-img {
        object-fit: contain;
        height: 100%;
        bottom: unset;
        object-position: unset;
    }
}