.hero {
    position: relative;
    background: #FCFCFD;

    @media (min-width:1025px) {
        height: calc(95vh - 150px);
    }

    // .hero__container
    &__container {
        height: 100%;
    }

    // .hero__body
    &__body {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 40px;

        @media (min-width:1025px) {
            justify-content: space-between;
        }

        @media (max-width:768px) {
            margin-top: 30px;
        }

        h1 {
            margin-bottom: 20px;
            max-width: 1200px;
            width: 100%;
        }

        .subtitle {
            margin-bottom: 60px;
            max-width: 580px;
            width: 100%;

            @media (max-width:1024px) {
                margin-bottom: 30px;
            }
        }

        ._btn {
            @media (max-width:425px) {
                width: 100%;
            }
        }

        ol {
            display: flex;
            gap: 80px;

            @media (max-width:425px) {
                width: 100%;
                gap: 0;
                justify-content: space-between;
            }

            li {
                display: flex;
                flex-direction: column;
                width: fit-content;
                gap: 30px;
                padding-left: 30px;
                border-left: 4px solid $accent;
                font-size: 16px;

                @media (max-width:1024px) {
                    gap: 20px;
                    padding-left: 15px;
                }

                span {
                    @media (min-width:768px) {
                        br {
                            display: none;
                        }
                    }
                }

                div {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    @include adaptive-value('font-size', 32, 26, 1);

                    @media (max-width:1024px) {
                        gap: 8px;
                    }

                    p {
                        display: flex;
                        align-items: flex-end;
                        gap: 4px;
                        line-height: 100%;
                    }

                    span {
                        @include adaptive-value('font-size', 24, 16, 1);
                    }

                    label {
                        font-size: 18px;
                        padding-bottom: 4px;
                        color: $grey;
                        line-height: normal;

                        @media (max-width:1024px) {
                            font-size: 16px;
                            padding-bottom: 2px;
                        }
                    }
                }
            }
        }

        img {
            @include adaptive-value('height', 600, 300, 1);
            width: 100vw;
            margin-left: -20px;
            max-width: unset;
            object-position: right;
            object-fit: cover;

            @media (max-width:1024px) {
                object-fit: contain;
                @include adaptive-value('margin-top', -150, 0, 1);
            }

            @media (max-width:768px) {
                margin-left: -10px;
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
    }

    // .hero__content
    &__content {
        position: relative;
        z-index: 1;
    }

    ._fullscreen-img {
        object-fit: cover;
        object-position: right bottom;

        @media (max-width:1440px) {
            height: 80%;
            top: unset;
            bottom: 0;
        }

        @media (max-width:1024px) {
            height: 65%;
            bottom: 80px;
        }
    }
}

.hero-404 {
    height: 70vh;

    ._btn {
        margin-top: 60px;

        @media (max-width:1024px) {
            margin-top: 30px;
            width: fit-content;
        }
    }

    ._fullscreen-img {
        object-fit: contain;
        height: 100%;
        bottom: unset;
        object-position: unset;
    }
}