.hero {
    position: relative;
    background: #FCFCFD;

    // .hero__container
    &__container {}

    // .hero__body
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(95vh - 150px);
        min-height: 840px;
        position: relative;
        z-index: 1;
        margin-top: 40px;

        @media (max-width:768px) {
            min-height: 770px;
        }

        h1 {
            margin-bottom: 20px;
            max-width: 1200px;
            width: 100%;
        }

        .subtitle {
            margin-bottom: 60px;
            max-width: 580px;
            width: 100%;

            @media (max-width:1024px) {
                margin-bottom: 30px;
            }
        }

        ._btn {
            @media (max-width:425px) {
                width: 100%;
            }
        }

        ol {
            margin-top: 40px;
            display: flex;
            gap: 80px;

            @media (max-width:425px) {
                width: 100%;
                gap: 0;
                justify-content: space-between;
            }

            li {
                display: flex;
                flex-direction: column;
                width: fit-content;
                gap: 30px;
                padding-left: 30px;
                border-left: 4px solid $accent;
                font-size: 16px;

                @media (max-width:1024px) {
                    gap: 20px;
                    padding-left: 15px;
                }

                span {
                    @media (min-width:426px) {
                        br {
                            display: none;
                        }
                    }
                }

                div {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    @include adaptive-value('font-size', 32, 26, 1);

                    @media (max-width:1024px) {
                        gap: 8px;
                    }

                    p {
                        display: flex;
                        align-items: flex-end;
                        gap: 4px;
                    }

                    label {
                        font-size: 18px;
                        padding-bottom: 4px;
                        color: $grey;

                        @media (max-width:1024px) {
                            font-size: 16px;
                            padding-bottom: 2px;
                        }
                    }
                }
            }
        }

        img {
            max-height: 50%;
            width: 100vw;
            margin-left: -20px;
            max-width: unset;
            object-position: bottom;
            object-fit: cover;

            @media (max-width:1024px) {
                object-fit: contain;
            }

            @media (max-width:768px) {
                margin-left: -10px;
            }
        }
    }

    ._fullscreen-img {
        object-fit: cover;
        object-position: right bottom;

        @media (max-width:1440px) {
            height: 80%;
            top: unset;
            bottom: 0;
        }

        @media (max-width:1024px) {
            height: 65%;
            bottom: 80px;
        }
    }
}

._fullscreen-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}