.section {
    @include adaptive-value('margin-top', 140, 60, 1);

    // .section__container
    &__container {}

    // .section__body
    &__body {
        &.grid {
            @media (max-width:1240px) {
                grid-template-columns: 1fr;
                gap: 40px;
            }
        }
    }

    // .section__left
    &__left {}

    // .section__right
    &__right {
        grid-column: span 2;
    }
}

.services {
    .section__left {
        p {
            max-width: 600px;
            width: 100%;
        }
    }

    ol {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 100px 60px;

        @media (max-width:1240px) {
            gap: 80px 40px;
        }

        @media (max-width:768px) {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        li {
            display: flex;
            gap: 40px;
            padding-top: 40px;
            border-top: 1px solid rgba($color: $black, $alpha: 0.2);

            @media (max-width:1024px) {
                gap: 20px;
                padding-top: 20px;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                flex: 0 0 auto;
                width: 50px;
                height: 50px;
                font-size: 16px;
                border: 1px solid rgba($color: $black, $alpha: 0.2);
                color: $grey;

                @media (max-width:768px) {
                    font-size: 14px;
                    width: 40px;
                    height: 40px;
                }
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 20px;

                @media (max-width:768px) {
                    gap: 10px;
                }

                p {
                    color: $grey;
                }
            }
        }
    }
}

.advantages {
    .section__body {
        display: flex;
        flex-direction: column;
    }

    ._title-label {
        text-align: center;
    }

    h2 {
        text-align: center;

        @media (max-width:728px) {
            br {
                display: none;
            }
        }
    }

    .subtitle {
        max-width: 830px;
        width: 100%;
        @include adaptive-value('margin-bottom', 60, 30, 1);
        margin-inline: auto;
        text-align: center;
    }

    ._btn {
        margin-inline: auto;
        @include adaptive-value('margin-bottom', 140, 60, 1);
    }

    ol {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @media (max-width:1240px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width:768px) {
            gap: 10px;
            grid-template-columns: 1fr;
        }

        & > :first-child {
            @media (min-width:1241px) {
                grid-column: span 2;
            }
        }

        & > :last-child {
            @media (min-width:1241px) {
                grid-column: span 2;
            }
        }

        li {
            padding: 30px;
            border-radius: 15px;
            background-color: $softblue;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 400px;
            position: relative;

            @media (max-width:1240px) {
                min-height: 300px;
            }

            @media (max-width:1024px) {
                padding: 15px;
                border-radius: 10px;
            }

            @media (max-width:768px) {
                min-height: 200px;
            }

            h3,
            p {
                position: relative;
                z-index: 1;
            }

            h3 {
                br {
                    display: none;
                }
            }

            p {
                @media (max-width:768px) {
                    width: 90%;
                }
            }

            img,
            picture {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }
        }
    }
}

.form-section {
    .grid {
        @media (max-width: 1240px) and (min-width: 1025px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .section__right {
        grid-column: unset;
        width: 100%;
        height: 100%;

        @media (max-width:1024px) {
            display: none;
        }

        img,
        picture {
            border-radius: 15px;
            height: 100%;
            width: 100%;
            pointer-events: none;
            object-fit: cover;
        }
    }

    .subtitle {
        display: block;
        margin-bottom: 40px;

        @media (max-width:1024px) {
            margin-bottom: 20px;
        }
    }
}