.section {
    @include adaptive-value('margin-top', 140, 60, 1);

    // .section__container
    &__container {}

    // .section__body
    &__body {
        &.grid {
            @media (max-width:1240px) {
                display: flex;
                flex-direction: column;
                gap: 40px;
            }

            @media (max-width:1024px) {
                gap: 30px;
            }
        }
    }

    // .section__left
    &__left {}

    // .section__right
    &__right {
        grid-column: span 2;
    }
}

.services {
    .section__left {
        h2 {
            margin-bottom: 30px;

            @media (max-width:768px) {
                margin-bottom: 20px;
            }
        }

        p {
            max-width: 400px;
            width: 100%;

            @media (max-width:425px) {
                max-width: 100%;
            }
        }
    }

    ol {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 100px 60px;

        @media (max-width:1240px) {
            gap: 80px 40px;
        }

        @media (max-width:768px) {
            grid-template-columns: 1fr;
            gap: 30px;
        }

        li {
            display: flex;
            gap: 40px;
            padding-top: 40px;
            border-top: 1px solid rgba($color: $black, $alpha: 0.2);

            @media (max-width:1024px) {
                gap: 20px;
                padding-top: 20px;
            }

            @media (max-width:768px) {
                flex-direction: column;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                flex: 0 0 auto;
                width: 50px;
                height: 50px;
                font-size: 16px;
                border: 1px solid rgba($color: $black, $alpha: 0.2);
                color: $grey;
                line-height: 100%;

                @media (max-width:768px) {
                    font-size: 14px;
                    width: 40px;
                    height: 40px;
                }
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding-top: 8px;

                @media (max-width:768px) {
                    gap: 10px;
                    padding-top: 0;
                }

                p {
                    color: $grey;
                    line-height: 130%;
                }
            }
        }
    }
}

.advantages {
    h2 {
        margin-bottom: 30px;

        @media (min-width:1024px) {
            br {
                display: none;
            }
        }

        @media (max-width:768px) {
            margin-bottom: 20px;
        }
    }

    .subtitle {
        max-width: 400px;
        width: 100%;
        @include adaptive-value('margin-bottom', 60, 30, 1);
    }

    ol {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;

        @media (max-width:1024px) {
            gap: 20px;
        }

        @media (max-width:768px) {
            gap: 10px;
        }

        @media (max-width:600px) {
            grid-template-columns: 1fr;
        }

        li {
            padding: 40px;
            border-radius: 4px;
            background-color: $softblue;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 320px;
            position: relative;

            @media (max-width:1024px) {
                padding: 15px;
                min-height: 260px;
            }

            @media (max-width:768px) {
                min-height: 220px;
            }

            h3,
            p {
                position: relative;
                z-index: 1;
            }

            p {
                max-width: 400px;
                color: $grey;

                @media (max-width:768px) {
                    width: 90%;
                }
            }

            &:has(img) {
                p {
                    @media (max-width:1024px) {
                        max-width: 75%;
                    }
                }
            }

            img,
            picture {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                object-fit: contain;
                pointer-events: none;
                object-position: right;
            }

            &:first-child {

                img,
                picture {
                    max-width: 317px;
                    width: 100%;
                }
            }

            &:last-child {

                img,
                picture {
                    width: 74px;
                    right: 8%;
                }
            }
        }
    }
}

.areas {

    // .areas-text
    &-text {
        p {
            margin-top: 20px;
            color: $grey;
            line-height: 130%;

            @media (max-width:1024px) {
                margin-top: 10px;
                max-width: 400px;
            }
        }
    }

    // .areas-img
    &-img {
        @media (max-width:1024px) {
            @include adaptive-value('height', 400, 220, 1);
        }

        .swiper-slide {
            position: relative;
            border-radius: 4px;
            overflow: hidden;
        }
    }

    .grid {
        @include adaptive-value('margin-top', 60, 30, 1);
    }

    .section__left,
    .section__right {
        min-width: 0;
        min-height: 0;
    }

    .section__left {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background-color: $white;
        box-shadow: 0 4px 15px 0 rgba(146, 146, 146, 0.20);
        padding: 80px;

        @media (max-width:1440px) {
            padding: 40px;
        }

        @media (max-width:1024px) {
            padding: 20px;
            padding-top: 30px;
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .section__right {
        height: auto;
    }

    .swiper {
        min-width: 0;
        min-height: 0;

        // .swiper-wrapper
        &-wrapper {}

        // .swiper-slide
        &-slide {
            height: auto;

            img,
            picture {
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }
        }

        // .swiper-controls
        &-controls {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 60px;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: rgba($color: $black, $alpha: 0.1);
                transition: all 0.3s ease 0s;

                @media (max-width:768px) {
                    width: 40px;
                    height: 40px;
                }

                @media (any-hover: hover) {
                    &:not(.swiper-button-disabled):hover {
                        background-color: rgba($color: $black, $alpha: 0.2);
                    }
                }

                img,
                svg,
                picture {
                    width: 16px;
                    height: 16px;
                    pointer-events: none;
                    transform: rotate(90deg);

                    @media (max-width:768px) {
                        width: 14px;
                        height: 14px;
                    }
                }

                &.prev {

                    img,
                    svg,
                    picture {
                        transform: rotate(-90deg);
                    }
                }

                &.swiper-button-disabled {
                    opacity: 0.3;
                }
            }
        }
    }
}

.about {
    ._big-text {
        max-width: 1600px;
        width: 100%;
    }

    img,
    picture {
        border-radius: 15px;
        object-fit: cover;
        pointer-events: none;
        flex: 0 0 auto;
        height: 100%;
        width: 100%;

        @media (max-width:1024px) {
            border-radius: 10px;
        }
    }

    &-1,
    &-5 {
        @include adaptive-value('width', 400, 230, 1);
        @include adaptive-value('height', 560, 320, 1);
        border-radius: 4px;

        @media (max-width:1024px) {}
    }

    &-2,
    &-4,
    &-6 {
        @include adaptive-value('width', 475, 260, 1);
        @include adaptive-value('height', 310, 170, 1);
        @include adaptive-value('margin-top', 156, 88, 1);
        border-radius: 4px;

        @media (max-width:1024px) {}
    }

    &-3 {
        @include adaptive-value('width', 510, 290, 1);
        @include adaptive-value('height', 710, 400, 1);
        border-radius: 4px;
        margin-left: 70px;

        @media (max-width:1024px) {}
    }

    &-2 {
        @include adaptive-value('margin-left', -190, -100, 1);
    }

    &-4 {
        margin-left: -60px;
        margin-right: 70px;
    }

    &-6 {
        margin-left: -100px;
    }

    .list {
        display: flex;
        @include adaptive-value('margin-top', 140, 30, 1);
        user-select: none;
        -webkit-user-select: none;
        cursor: grab;
        overflow-y: hidden;
        overflow-x: auto;
        scroll-behavior: auto;
        /* Отключаем встроенный smooth */
        cursor: grab;
        user-select: none;
        transition: all 0.2s ease;

        &.dragging {
            cursor: grabbing;
            scroll-behavior: auto;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        * {
            pointer-events: none
        }

        @media (max-width: $containerWithPadding + px) {
            padding-inline: $padding + px;
            margin-inline: -1 * $padding + px;
        }

        @media (max-width:1440px) {
            padding-inline: 20px;
            margin-inline: -20px;
        }

        @media (max-width:768px) {
            padding-inline: 10px;
            margin-inline: -10px;
        }

        div {
            flex: 0 0 auto;
        }

        label {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 40px;
            padding: 24px;
            border-radius: 30px;
            background: #F6F9FF;
            min-height: 200px;
            max-width: 340px;
            min-width: 340px;
            height: fit-content;
            width: 100%;
            @include adaptive-value('letter-spacing', -1.6, -0.8, 1);

            @media (max-width:1024px) {
                padding: 20px;
                border-radius: 20px;
                gap: 20px;
                min-width: 240px;
                max-width: 240px;
                min-height: unset;
            }

            span {
                color: $grey;
                @include adaptive-value('font-size', 18, 14, 1);
            }

            p {
                font-weight: 500;
                line-height: 110%;
                @include adaptive-value('font-size', 24, 16, 1);
            }
        }

        .content-top {
            @include adaptive-value('margin-top', 88, 50, 1);
            margin-left: -60px;

            @media (max-width:1024px) {
                margin-left: -40px;
            }
        }

        .content-center {
            @include adaptive-value('margin-top', 240, 140, 1);
            margin-left: -70px;
        }
    }
}

.volume {
    .section__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        @include adaptive-value('margin-bottom', 60, 30, 1);
    }

    ._btn {
        @media (max-width:1024px) {
            margin-top: 20px;
            width: 100%;
        }
    }
}

.form-section {
    .grid {
        @media (max-width:1240px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width:1024px) {
            display: flex;
            flex-direction: column-reverse;
            gap: 10px;
        }
    }

    .section__left {
        @media (min-width:1025px) {
            height: 100%;
        }

        img,
        picture {
            height: 100%;
            pointer-events: none;
            object-fit: contain;
            object-position: center;

            @media (max-width:1024px) {
                @include adaptive-value('height', 400, 200, 1);
            }
        }
    }

    h2 {
        margin-bottom: 30px;

        @media (max-width:768px) {
            margin-bottom: 20px;
        }
    }

    .subtitle {
        display: block;
        margin-bottom: 60px;

        @media (max-width:1024px) {
            margin-bottom: 30px;
        }
    }
}