.section {
    @include adaptive-value('margin-top', 140, 60, 1);

    // .section__container
    &__container {}

    // .section__body
    &__body {
        &.grid {
            @media (max-width:1240px) {
                grid-template-columns: 1fr;
                gap: 40px;
            }
        }
    }

    // .section__left
    &__left {}

    // .section__right
    &__right {
        grid-column: span 2;
    }
}

.services {
    .section__left {
        p {
            max-width: 600px;
            width: 100%;
        }
    }

    ol {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 100px 60px;

        @media (max-width:1240px) {
            gap: 80px 40px;
        }

        @media (max-width:768px) {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        li {
            display: flex;
            gap: 40px;
            padding-top: 40px;
            border-top: 1px solid rgba($color: $black, $alpha: 0.2);

            @media (max-width:1024px) {
                gap: 20px;
                padding-top: 20px;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                flex: 0 0 auto;
                width: 50px;
                height: 50px;
                font-size: 16px;
                border: 1px solid rgba($color: $black, $alpha: 0.2);
                color: $grey;

                @media (max-width:768px) {
                    font-size: 14px;
                    width: 40px;
                    height: 40px;
                }
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 20px;

                @media (max-width:768px) {
                    gap: 10px;
                }

                p {
                    color: $grey;
                }
            }
        }
    }
}

.advantages {
    .section__body {
        display: flex;
        flex-direction: column;
    }

    ._title-label {
        text-align: center;
    }

    h2 {
        text-align: center;

        @media (max-width:728px) {
            br {
                display: none;
            }
        }
    }

    .subtitle {
        max-width: 830px;
        width: 100%;
        @include adaptive-value('margin-bottom', 60, 30, 1);
        margin-inline: auto;
        text-align: center;
    }

    ._btn {
        margin-inline: auto;
        @include adaptive-value('margin-bottom', 140, 60, 1);
    }

    ol {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @media (max-width:1240px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width:768px) {
            gap: 10px;
            grid-template-columns: 1fr;
        }

        & > :first-child {
            @media (min-width:1241px) {
                grid-column: span 2;
            }
        }

        & > :last-child {
            @media (min-width:1241px) {
                grid-column: span 2;
            }
        }

        li {
            padding: 30px;
            border-radius: 15px;
            background-color: $softblue;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 400px;
            position: relative;

            @media (max-width:1240px) {
                min-height: 300px;
            }

            @media (max-width:1024px) {
                padding: 15px;
                border-radius: 10px;
            }

            @media (max-width:768px) {
                min-height: 200px;
            }

            h3,
            p {
                position: relative;
                z-index: 1;
            }

            h3 {
                br {
                    display: none;
                }
            }

            p {
                @media (max-width:768px) {
                    width: 90%;
                }
            }

            img,
            picture {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }
        }
    }
}

.form-section {
    .grid {
        @media (max-width: 1240px) and (min-width: 1025px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .section__right {
        grid-column: unset;
        width: 100%;
        height: 100%;

        @media (max-width:1024px) {
            display: none;
        }

        img,
        picture {
            border-radius: 15px;
            height: 100%;
            width: 100%;
            pointer-events: none;
            object-fit: cover;
        }
    }

    .subtitle {
        display: block;
        margin-bottom: 40px;

        @media (max-width:1024px) {
            margin-bottom: 20px;
        }
    }
}

.areas {

    // .areas-text
    &-text {
        h3 {}

        p {
            margin-top: 20px;
            color: $grey;

            @media (max-width:1024px) {
                margin-top: 10px;
                max-width: 400px;
            }
        }
    }

    // .areas-img
    &-img {
        @media (max-width:1024px) {
            @include adaptive-value('height', 400, 220, 1);
        }

        .swiper-slide {
            position: relative;
            border-radius: 15px;
            overflow: hidden;

            @media (max-width:1024px) {
                border-radius: 10px;
            }

            &:after {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                mix-blend-mode: color;
                background-color: $accent;
            }
        }
    }

    .grid {
        margin-top: 60px;

        @media (max-width:1024px) {
            display: block;
            margin-top: 40px;
        }
    }

    .section__left,
    .section__right {
        min-width: 0;
        min-height: 0;
    }

    .section__left {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        background-color: $white;
        box-shadow: 0 4px 15px 0 rgba(146, 146, 146, 0.20);
        padding: 80px;

        @media (max-width:1440px) {
            padding: 40px;
        }

        @media (max-width:1024px) {
            padding: 15px;
            padding-top: 20px;
            border-radius: 10px;
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .swiper {
        min-width: 0;
        min-height: 0;

        // .swiper-wrapper
        &-wrapper {}

        // .swiper-slide
        &-slide {
            height: auto;

            img,
            picture {
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }
        }

        // .swiper-controls
        &-controls {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 40px;

            @media (max-width:768px) {
                margin-top: 30px;
                gap: 10px;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: rgba($color: $black, $alpha: 0.1);
                transition: all 0.3s ease 0s;

                @media (max-width:768px) {
                    width: 40px;
                    height: 40px;
                }

                @media (any-hover: hover) {
                    &:not(.swiper-button-disabled):hover {
                        background-color: rgba($color: $black, $alpha: 0.2);
                    }
                }

                img,
                svg,
                picture {
                    width: 16px;
                    height: 16px;
                    pointer-events: none;
                    transform: rotate(90deg);

                    @media (max-width:768px) {
                        width: 14px;
                        height: 14px;
                    }
                }

                &.prev {

                    img,
                    svg,
                    picture {
                        transform: rotate(-90deg);
                    }
                }

                &.swiper-button-disabled {
                    opacity: 0.3;
                }
            }
        }
    }

    .pagination {
        padding: 7px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        background-color: rgba($color: $black, $alpha: 0.05);
        border-radius: 4px;
        width: fit-content;
        margin-top: 40px;

        span {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            flex: 0 0 auto;
            background-color: rgba($color: $black, $alpha: 0.2);
            cursor: pointer;

            &.swiper-pagination-bullet-active {
                background-color: $black;
            }
        }
    }
}

.section {

    // .section__container
    &__container {}

    // .section__body
    &__body {}
}

.about {

    img,
    picture {
        border-radius: 15px;
        object-fit: cover;
        pointer-events: none;
        flex: 0 0 auto;

        @media (max-width:1024px) {
            border-radius: 10px;
        }
    }

    &-1,
    &-5 {
        @include adaptive-value('width', 400, 230, 1);
        @include adaptive-value('height', 560, 320, 1);
        border-radius: 15px;

        @media (max-width:1024px) {
            border-radius: 10px;
        }
    }

    &-2,
    &-4,
    &-6 {
        @include adaptive-value('width', 475, 260, 1);
        @include adaptive-value('height', 310, 170, 1);
        @include adaptive-value('margin-top', 156, 88, 1);
        border-radius: 15px;

        @media (max-width:1024px) {
            border-radius: 10px;
        }
    }

    &-3 {
        @include adaptive-value('width', 510, 290, 1);
        @include adaptive-value('height', 710, 400, 1);
        border-radius: 15px;
        margin-left: 70px;

        @media (max-width:1024px) {
            border-radius: 10px;
        }
    }

    &-2 {
        @include adaptive-value('margin-left', -190, -60, 1);
    }

    &-4 {
        margin-left: -60px;
        margin-right: 70px;
    }

    &-6 {
        margin-left: -100px;
    }

    .list {
        display: flex;
        @include adaptive-value('margin-top', 140, 60, 1);
        user-select: none;
        -webkit-user-select: none;
        cursor: grab;
        overflow-x: auto;
        scroll-behavior: auto;
        /* Отключаем встроенный smooth */
        cursor: grab;
        user-select: none;
        transition: all 0.2s ease;

        &.dragging {
            cursor: grabbing;
            scroll-behavior: auto;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        * {
            pointer-events: none
        }

        @media (max-width: $containerWithPadding + px) {
            padding-inline: $padding + px;
            margin-inline: -1 * $padding + px;
        }

        @media (max-width:1440px) {
            padding-inline: 20px;
            margin-inline: -20px;
        }

        @media (max-width:768px) {
            padding-inline: 10px;
            margin-inline: -10px;
        }

        .content-top {
            @include adaptive-value('margin-top', 88, 50, 1);
            margin-left: -60px;

            @media (max-width:1024px) {
                margin-left: -40px;
            }
        }

        .content-center {
            @include adaptive-value('margin-top', 240, 140, 1);
            margin-left: -70px;
        }

        div {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 40px;
            padding: 24px;
            border-radius: 30px;
            background: #F6F9FF;
            min-height: 228px;
            max-width: 340px;
            min-width: 340px;
            height: fit-content;
            width: 100%;

            @media (max-width:1024px) {
                padding: 15px;
                border-radius: 15px;
                gap: 20px;
                min-width: 240px;
                max-width: 240px;
                min-height: unset;
            }

            span {
                font-size: 16px;
                color: $grey;
            }
        }
    }
}